.card {
  background: #fff;
  border-radius: 2px;
  height: 600px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
  border-radius: 30px;
}
.card > .img-container > img {
  width: 100%;
  height: 100%;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}