body {
  background-color: #000000;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./../../assets/image/landingpage.jpg');
 
  background-size: cover;
  background-attachment: fixed;
  /* position: absolute; */
}

.navbar {
  background-color: rgb(39, 41, 39) !important;
 
}




.formfont {
  font-family: 'Lobster', cursive;
}

.hero-image {
  
  height: 100rem;
  background-size: cover;

}

.blog-title {
  font-size: 6rem;

}

.blog-subtitle {
  font-size: 1rem;
}


@media all and (max-width: 768px){
  .blog-title {
    font-size: 3rem;
    
  }
   
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-family: 'Lobster', cursive;
  /* font-size: 5rem; */
}

.btn, .cardbtn {
  border-radius: 30px;
  background-color: rgb(69, 159, 243);
  border: solid white;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 200px;
  height: 45px;
  position: sticky;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 
  
}

.card {
  background-color: antiquewhite;

}

.top-form {
  margin-top: 5rem;
}
.search {
  width: 100px;
  font-family: 'Lobster', cursive;
  
}


.blogListItems {
  margin-top: 5rem;
  color: whitesmoke;
}

.card-subtitle {
  color: whitesmoke;
  font-family: 'Lobster', cursive;
  margin-bottom: 20px;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-left: 0px;
  padding-right: 0px;
}

.card-text {
  min-height: 250px;
  max-height: 500px;
  color: black;
  white-space: wrap;
  padding-top: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}

.modalTitle, .card-title, .modal-title {
  font-family: 'Lobster', cursive;
  /* font-size: 40px; */
}

.form-group {

} 
.modalAuthor {
  color: black;
}
.pokedexForm {
  margin-top: 5rem;
}

/* .viewPostsImage {
  
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
} */

.blogContainer {
  margin-top: 7rem;
  
  
}

.cardLayout {
  width: 70%;
 
}

.delta {
  margin-top: 7rem;

}

.card:hover {
  transform: scale(1.05);
}

.card {
  transition: all ease 200ms;
  /* border-bottom-right-radius: 100px !important; */
  border-radius: 30px !important;
  background-color: rgb(255, 255, 255) !important;
  opacity: 0.75;
  
}


.underline {
  border-bottom: 1px solid black;
  padding-top: 15px;
}

.card-subtitle {
  color: black;
  
}






